@import "../../node_modules/bootswatch/bower_components/bootstrap/less/variables.less";
@import "../../node_modules/bootswatch/bower_components/bootstrap/less/bootstrap.less";
@import "../../node_modules/bootswatch/paper/variables.less";
@import "../../node_modules/bootswatch/paper/bootswatch.less";

// Colours

@brand-primary: #EC3E82;

// Buttons

#btn(@class,@bg) {
  .btn-@{class} {
    background: @bg;

    &:hover {
      background: darken(@bg, 6%);
    }

    &:active {
      background: darken(@bg, 6%);
      .box-shadow(2px 2px 2px rgba(0,0,0,.3));
    }
  }
}

#btn(default,@btn-default-bg);
#btn(primary,@btn-primary-bg);
#btn(success,@btn-success-bg);
#btn(info,@btn-info-bg);
#btn(warning,@btn-warning-bg);
#btn(danger,@btn-danger-bg);

.btn {
	text-transform: none;
}

// 

#install-text {
	padding-top: 9px;
}